{% extends 'main/base.html' %}

{% load static %}

{% block content %}
<div class="section section-header">
    <div class="parallax-big filter filter-color-blue">
        <div class="container">
            <div class="content">
                <div class="title-area">
                    <h2 class="title-modern">Oops! Une erreur 404 s'est produite! </h2>
                    <div class="separator line-separator">♦</div>
                    <h4>Nous sommes actuellement en liaison directe avec un ingénieur informaticien</h4>
                    <img width="400" height="400" src="{% static 'main/assets/img/ingé.jpg' %}">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}