{% extends 'main/base.html' %}


{% block content %}
<div class="section section-header">
    <div class="parallax-small filter filter-color-blue">
        <div class="container">
            <div class="content">
                <div class="title-area">
                    <h2 class="title-modern">Le blog de Soi</h2>
                    <h3>Phrase d'acroche </h3>
                    <div class="separator line-separator">♦</div>
                </div>
            </div>
        </div>
    </div>
</div>


{% for post in posts %}
<div class="team">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col">
                    <div class="card card-member">
                        <div class="content">
                            <article>
                                <div class="title-area">
                                    <h3 class="title-modern">
                                        {% if post.published == False %}
                                        NOT PUBLISH {{ post.title }}
                                        {% else %}
                                        {{ post.title }}
                                        {% endif %}
                                    </h3>
                                    <h6>Publié par <i>{{ post.author_or_default }}</i>
                                        le {{ post.created_on|date:'j F Y' }}
                                    </h6>
                                    <div class="separator line-separator">♦</div>
                                </div>
                                <h5>{{ post.content|safe|truncatewords:50 }}</h5>
                                <div class="button-get-started">
                                    <a href="{% url 'blog:post' slug=post.slug %}" class="btn btn-danger btn-fill btn-lg">Lire plus</a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}