{% extends 'main/base.html' %}


{% block content %}
<div class="section section-header">
    <div class="parallax filter filter-color-blue">
        <div class="container">
            <div class="content">
                <div class="title-area">
                    <h2 class="title-modern">Ajouter un article</h2>
                    <div class="separator line-separator">♦</div>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Créer">
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}