{% extends 'main/base.html' %}


{% block content %}
<div class="section section-header">
    <div class="parallax-small filter filter-color-blue">
        <div class="container">
            <div class="content">
                <div class="title-area">
                    <h3 class="title-modern">Mentions légales</h3>
                    <div class="separator line-separator">♦</div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="section section-our-clients-freebie">
    <div class="container">
        <div class="title-area">
            <p class="description">
                Icônes conçues par
                <a href="" title="prettycons">prettycons ©</a> from
                <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a><br>
                Icônes conçues par
                <a href="https://www.freepik.com" title="Freepik">Freepik ©</a> from
                <a href="https://www.flaticon.com/fr/" title="Flaticon">www.flaticon.com</a><br>
                <h5> Powered by : <a href="https://www.djangoproject.com/" target="_blank">Django</a></h5><br>
                <h5>Template Bootstrap <a href="https://blackrockdigital.github.io/startbootstrap-creative/"
                                      target="_blank">Bootstrap</a></h5><br>
                <h5>Version modifiée de Gaia - Creative Tim <a href="https://www.creative-tim.com/product/gaia-bootstrap-template"
                                      target="_blank">Creative-Tim</a></h5>
            </p>
        </div>
    </div>
</div>

{% endblock %}