{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="section section-header">
    <div class="parallax filter filter-color-blue">
        <div class="container">
            <div class="content">
                <div class="title-area">
                    <h1 class="title-modern">Atelier de Soi</h1>
                    <img height="250" width="250" src="{% static 'main/assets/img/logo.png' %}">
                    <h3>Phrase d'acroche </h3>
                    <div class="separator line-separator">♦</div>
                </div>
            </div>

        </div>
    </div>
</div>




<div id="news" class="section">
    <div class="container">
        <div class="row">
            <div class="title-area">
                <h2>News ?</h2>
                <div class="separator separator-danger">✻</div>
                <p class="description">Texte Texte Texte Texte Texte Texte Texte Texte Texte Texte </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icon text-danger">
                        <i class="pe-7s-graph1"></i>
                    </div>
                    <h3>Texte </h3>
                    <p class="description">Texte Texte Texte Texte Texte Texte Texte Texte </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icon text-danger">
                        <i class="pe-7s-users"></i>
                    </div>
                    <h3>Texte </h3>
                    <p class="description">Texte Texte Texte Texte Texte Texte Texte Texte Texte </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-icon">
                    <div class="icon text-danger">
                        <i class="pe-7s-music"></i>
                    </div>
                    <h3>Texte </h3>
                    <p class="description">Texte Texte Texte Texte Texte Texte Texte Texte Texte Texte </p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section section-our-team-freebie">
    <div class="parallax filter filter-color-pastel">
        <div class="image" style="background-image:url('{% static 'main/assets/img/header-2.jpg' %}')">
        </div>
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="title-area">
                        <h2>Qu'est ce que cela dit donc ? ?</h2>
                        <div class="separator separator-danger">✻</div>
                        <p class="description">Description texte texte.</p>
                    </div>
                </div>

                <div class="team">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle"
                                                     src="{% static 'main/assets/img/musical-note.png' %}"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Hypnose</h3>
                                                <p class="small-text">blabla</p>
                                                <p class="description">Description Description Description Description
                                                    Description Description Description Description Description
                                                    Description </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle"
                                                     src="{% static 'main/assets/img/musical-note.png' %}"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Hypnose</h3>
                                                <p class="small-text">blabla</p>
                                                <p class="description">Description Description Description Description
                                                    Description Description Description Description Description
                                                    Description </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle"
                                                     src="{% static 'main/assets/img/musical-note.png' %}"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Hypnose</h3>
                                                <p class="small-text">blabla</p>
                                                <p class="description">Description Description Description Description
                                                    Description Description Description Description Description
                                                    Description </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle"
                                                     src="{% static 'main/assets/img/musical-note.png' %}"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Hypnose</h3>
                                                <p class="small-text">blabla</p>
                                                <p class="description">Description Description Description Description
                                                    Description Description Description Description Description
                                                    Description </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle"
                                                     src="{% static 'main/assets/img/musical-note.png' %}"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Hypnose</h3>
                                                <p class="small-text">blabla</p>
                                                <p class="description">Description Description Description Description
                                                    Description Description Description Description Description
                                                    Description </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle"
                                                     src="{% static 'main/assets/img/musical-note.png' %}"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Hypnose</h3>
                                                <p class="small-text">blabla</p>
                                                <p class="description">Description Description Description Description
                                                    Description Description Description Description Description
                                                    Description </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="qui" class="section section-our-clients-freebie">
    <div class="container">
        <div class="title-area">
            <h5 class="subtitle text-gray">Les professionnels</h5>
            <h2>Qui sommes-nous ?</h2>
            <div class="separator separator-danger">∎</div>
        </div>

        <ul class="nav nav-text" role="tablist">
            <li class="active">
                <a href="#testimonial1" role="tab" data-toggle="tab">
                    <div class="image-clients">
                        <img alt="..." class="img-circle" src="{% static 'main/assets/img/faces/vivien.jpg' %}"/>
                    </div>
                </a>
            </li>
            <li>
                <a href="#testimonial2" role="tab" data-toggle="tab">
                    <div class="image-clients">
                        <img alt="..." class="img-circle" src="{% static 'main/assets/img/faces/pierre.jpg' %}"/>
                    </div>
                </a>
            </li>
        </ul>


        <div class="tab-content">
            <div class="tab-pane active" id="testimonial1">
                <p class="description">
                    Vivien
                </p>
            </div>
            <div class="tab-pane" id="testimonial2">
                <p class="description">Pierre
                </p>
            </div>

        </div>

    </div>
</div>


<div class="section section-small section-get-started">
    <div class="parallax filter">
        <div class="image"
             style="background-image: url('{% static 'main/assets/img/bg-sono.jpg' %}')">
        </div>
        <div class="container">
            <div class="title-area">
                <h2 class="text-white">Titre texte</h2>
                <div class="separator line-separator">♦</div>
                <p class="description"> texte texte</p>
            </div>

            <div class="button-get-started">
                <a href="#" class="btn btn-danger btn-fill btn-lg">Contactez nous</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}