{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="section section-header">
    <div class="parallax filter filter-color-blue">
        <div class="container">
            <div class="content">
                <div class="title-area">
                    <h1 class="title-modern">Atelier de Soi</h1>
                    <img height="200" width="200" src="{% static 'main/assets/img/logo.png' %}">
                    <h3>Bienvenue sur le site de l'Atelier de Soi !</h3>
                    <p class="description">
                        Les professionels vous proposerons des articles, news et ateliers
                        afin de découvrir leurs différentes spécialités.<br>
                        N'hésitez pas à discuter dans la section commenaire disponible sous chaque article

                    </p>
                    <div class="separator line-separator">♦</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-our-team-freebie" id="Spécialités">
    <div class="parallax filter filter-color-pastel">
        <div class="image" style="background-image:url('{% static 'main/assets/img/header-2.jpg' %}')">
        </div>
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="title-area text-gray">
                        <h2>Les spécialités</h2>
                        <div class="separator separator-danger">✻</div>
                        <p class="description">Description texte texte.</p>
                    </div>
                </div>
                <div class="team">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle"
                                                     src="{% static 'main/assets/img/musical-note.png' %}"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Hypnose</h3>
                                                <p class="small-text">blabla</p>
                                                <p class="description">Description Description Description Description
                                                    Description Description Description Description Description
                                                    Description </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle"
                                                     src="{% static 'main/assets/img/musical-note.png' %}"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Hypnose</h3>
                                                <p class="small-text">blabla</p>
                                                <p class="description">Description Description Description Description
                                                    Description Description Description Description Description
                                                    Description </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle"
                                                     src="{% static 'main/assets/img/musical-note.png' %}"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Hypnose</h3>
                                                <p class="small-text">blabla</p>
                                                <p class="description">Description Description Description Description
                                                    Description Description Description Description Description
                                                    Description </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle"
                                                     src="{% static 'main/assets/img/musical-note.png' %}"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Hypnose</h3>
                                                <p class="small-text">blabla</p>
                                                <p class="description">Description Description Description Description
                                                    Description Description Description Description Description
                                                    Description </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle"
                                                     src="{% static 'main/assets/img/musical-note.png' %}"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Hypnose</h3>
                                                <p class="small-text">blabla</p>
                                                <p class="description">Description Description Description Description
                                                    Description Description Description Description Description
                                                    Description </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-member">
                                        <div class="content">
                                            <div class="avatar avatar-danger">
                                                <img alt="..." class="img-circle"
                                                     src="{% static 'main/assets/img/musical-note.png' %}"/>
                                            </div>
                                            <div class="description">
                                                <h3 class="title">Hypnose</h3>
                                                <p class="small-text">blabla</p>
                                                <p class="description">Description Description Description Description
                                                    Description Description Description Description Description
                                                    Description </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="LesProfessionnels" class="section section-our-clients-freebie">
    <div class="container">
        <div class="title-area">
            <h5 class="subtitle text-gray">Les professionnels</h5>
            <h2>Qui sommes-nous ?</h2>
            <div class="separator separator-danger">∎</div>
        </div>

        <ul class="nav nav-text" role="tablist">
            <li class="active">
                <a href="#testimonial1" role="tab" data-toggle="tab">
                    <div class="image-clients">
                        <img alt="..." class="img-circle" src="{% static 'main/assets/img/faces/vivien.jpg' %}"/>
                    </div>
                </a>
            </li>
            <li>
                <a href="#testimonial2" role="tab" data-toggle="tab">
                    <div class="image-clients">
                        <img alt="..." class="img-circle" src="{% static 'main/assets/img/faces/pierre.jpg' %}"/>
                    </div>
                </a>
            </li>
        </ul>


        <div class="tab-content">
            <div class="tab-pane active" id="testimonial1">
                <p class="description">
                    Vivien est passionné par l’observation des capacités et les schémas de fonctionnements des adultes
                    et enfants, il est persuadé de la capacité inhérente de l’être humain à évoluer et à apprendre avec
                    un étayage et une présence saine.
                    <br><br>
                    Formé en premier lieu à Ellipsy dans de multiples domaines (PNL/Hypnose/systémie/Eye-impact©),
                    Il est par la suite devenu formateur et ressource sur les formations de cette école.
                    <br><br>
                    En parallèle de son engagement en formations d’ordre pratiques il continue un cursus classique
                    universitaire en psychologie en distanciel auprès de la faculté de Paris 8.
                    <br><br>
                    Vivien est disponible sur des ateliers et groupes, et aussi en rendez-vous individuel.
                </p>
            </div>
            <div class="tab-pane" id="testimonial2">
                <p class="description">Pierre
                </p>
            </div>
        </div>
    </div>
</div>

<div class="section section-get-started">
    <div class="parallax">
        <div class="image"
             style="background-image: url('{% static 'main/assets/img/bg-news.jpg' %}')">
        </div>
        <div class="section" id="Actualité">
            <div class="container">
                <div class="row">
                    <div class="title-area">
                        <h2>Actualité</h2>
                        <div class="separator separator-danger">✻</div>
                        <p class="description">
                            Découvrez les dernières actus de l'Atelier de Soi.
                        </p>
                    </div>
                </div>
                <div class="row">
                    {% for new in news %}
                    <div class="col">
                        <div class="card card-member">
                            <div class="content">
                                <div class="title-area">
                                    <h4>{{new.title}}</h4>
                                    <h6>Publié par <i>{{ new.author_or_default }}</i>
                                        le {{ new.created_on|date:'j F Y' }}
                                    </h6>
                                    <div class="separator separator-danger">✻</div>
                                </div>
                                <p class="description">{{ new.content|safe|truncatewords:20 }}</p>
                                <div class="button-get-started">
                                    <a href="{% url 'main:news' slug=new.slug %}">Lire
                                        plus</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-small section-get-started">
    <div class="parallax filter">
        <div class="image"
             style="background-image: url('{% static 'main/assets/img/bg-sono.jpg' %}')">
        </div>
        <div class="container">
            <div class="title-area">
                <h2 class="text-white">Contact</h2>
                <div class="separator line-separator">♦</div>
                <p class="description">
                    Vous souhaitez intégrer l'équipe de professionnels ? Ou vous avez simplement des
                    questions ? <br>
                    N'hésitez pas à nous contacter !
                </p>
            </div>

            <div class="button-get-started">
                <a href="#" class="btn btn-danger btn-fill btn-lg">Contactez nous</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}