{% extends 'main/base.html' %}

{% load static %}

{% block content %}
<div class="section section-header">
    <div class="parallax-big filter filter-color-blue">
        <div class="container">
            <div class="content">
                <div class="title-area">
                    <h2 class="title-modern">Oops! Une erreur s'est produite! </h2>
                    <div class="separator line-separator">♦</div>
                    <h4>Nous sommes actuellement en liaison directe avec un ingénieur informaticien</h4>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/watch?v=rlarCLhzfoU" frameborder="0"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}